* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 100px;
    color: black;
}

h2{
    font-size: 70px;
    color: black ;
}

:root {
    --ancho-juego: 600px;
    --altura-juego: 600px;
    --ancho-cuadro: calc(var(--ancho-juego) / 2);
    --altura-cuadro: calc(var(--altura-juego) / 2);
}

body {
    background: white;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}

.contenedor_juego {
    position: relative;
    display: grid;
    width: var(--ancho-juego);
    border: 2px solid black;
    height: var(--altura-juego);
    padding: 1px;
}

.cuadro {
    /* background: red; */
    /* width: calc(var(--ancho-cuadro) - 4px); */
    /* height: calc(var(--altura-cuadro) - 4px); */
    border: 2px solid black;
}

.active {
    background: white;
    border: 1px solid red; 
}